﻿body {
    background-color: $background-color;
    margin-left: 2rem;
    margin-right: 2rem;

    @include break-point(md) {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    header {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        border-width: 0 0 1px;
        background-color: $site-color-black;
        height: 4rem;
    }

    footer {
        background: $site-color-black;
        color: $site-color-white;
        height: 2rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding-top: 10px;
    }

    section {
        padding-top: 4rem;
        margin-bottom: 4rem;
    }

    .headerlogo {
        img {
            float: left;
            margin-left: 2rem;
            margin-top: 10px;
            width: 40px;
            height: auto;
        }
    }
}


.dropdown {
    display: inline-block;
    position: fixed;
    float: right;
}

.dropdown-content {
    display: none;
    background-color: $site-color-black;
    min-width: 90px;
    padding: 1rem 1.3rem;
    margin-top: 0;

    @include break-point(md) {
        position: relative;
        background-color: transparent;
        display: block;
        float: left;
        padding-left: 1rem;
    }

    li {
        display: block;
        float: left;
        padding-left: 1rem;
    }

    a {
        color: $site-color-white;
    }
}


.dropdown:hover .dropdown-content {
    display: block;
    right: 0;
    position: fixed;

    @include break-point(md) {
        top: 1rem;
        right: auto;
        top: auto;
        position: relative;
    }
}
