﻿nav {
    z-index: 10;

    ul li a {
        text-decoration: none;


        &:link {
            text-decoration: none;
        }

        &:visited {
            color: $site-color-white;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}


.menu-title {
    @extend .button-base;
    color: $site-color-white;
    right: 2rem;
    float: right;
    position: fixed;
    height: 30px;
    width: 80px;

    @include break-point(md) {
        display: none;
    }
}
